.note{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 290px;
    height: 250px;
    background-image: linear-gradient(#ead07e, #ffea6f);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.31);
    font-family: 'Indie Flower', cursive;
    overflow:hidden;
    cursor: pointer;
}
.note:hover{
    background-image: linear-gradient(#fde38e, #fbe66d);
}
.note p, .note h3{
    overflow:hidden
}
.note h3{
    margin: 10px auto 5px;
    width: 85%;
    border-bottom: 2px #002366 solid;
    color: #002366;
}
.note p{
    margin: 5px 0 0;
    text-align: left;
    font-weight: bold;
    color: #395ebc;
    height: 160px;
    padding: 0 4px;
    font-size: 13px;
}
.notes{
    width: 1240px;
    margin: 0 auto;
}
.deleteBtn{
    background-image: linear-gradient(#ff6359, #ad1c28);
    font-size: 15px;
    padding: 1px;
    width: 65px;
    height: 25px;
    margin: 0 5px;
}
.editBtn{
    font-size: 15px;
    padding: 1px;
    width: 65px;
    height: 25px;
    background-image: linear-gradient(#395ebc, #002366);
}
.control{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
